a {
  color: #000;
}

ion-text, ion-card-subtitle {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

ion-text ion-icon {
  padding: 0px 7px 0px 0px;
}

.map-publisher {
  margin-top: 10px;
}
